div.movies-page-wrapper {
  background-color: #242424;
}

div.movies-page-wrapper header {
  padding-top: 3px;
}

div.movies-page-wrapper div.movies-container div.homepage div.search-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 75px;
}

div.movies-page-wrapper div.movies-container div.homepage div.search-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.movies-page-wrapper div.movies-container div.homepage div.search-form form div {
  width: 250px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid #eeeeee;
}

div.movies-page-wrapper div.movies-container div.homepage div.search-form form div input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 40px;
  background-color: #242424;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

div.movies-page-wrapper div.movies-container div.homepage div.search-form form div input::-webkit-input-placeholder {
  font-size: .9rem;
}

div.movies-page-wrapper div.movies-container div.homepage div.search-form form div input:-ms-input-placeholder {
  font-size: .9rem;
}

div.movies-page-wrapper div.movies-container div.homepage div.search-form form div input::-ms-input-placeholder {
  font-size: .9rem;
}

div.movies-page-wrapper div.movies-container div.homepage div.search-form form div input::placeholder {
  font-size: .9rem;
}

div.movies-page-wrapper div.movies-container div.homepage div.search-form form div:not(:first-child) {
  margin-left: 15px;
}

div.movies-page-wrapper div.movies-container div.homepage div.search-form form div.submit-button {
  width: 45px;
  border: 2px solid #fff;
}

div.movies-page-wrapper div.movies-container div.homepage div.search-form form div.submit-button button {
  width: 100%;
  height: 100%;
  border-radius: 19px;
  outline: none;
  border: none;
  background-color: #242424;
  color: #fff;
  cursor: pointer;
}

div.movies-page-wrapper div.movies-container div.homepage div.home-movie-list {
  height: 82vh;
  padding: 30px;
  overflow-y: scroll;
}
