div.movies-page-wrapper {
  background-color: #000;
}

div.movies-page-wrapper header {
  padding-top: 3px;
}

div.movies-page-wrapper div.movies-container div.homepage div.search-form {
  border: 1px solid #fff;
  height: 10vh;
}

div.movies-page-wrapper div.movies-container div.homepage div.search-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.movies-page-wrapper div.movies-container div.homepage div.home-movie-list {
  height: 80vh;
  padding: 0 30px;
}
