header {
    display: flex;
    align-items: center;
    padding: 20px 0 0 30px;
    height: 10vh;
    width: 100%;
    div.logo-area {
        width: 150px;
        img {
            width: 100%;
        }
    }
}