li.movie-info {
    display: flex;
    cursor: pointer;
    div.poster {
        width: 175px;
        p {
            text-align: center;
            margin-bottom: 5px;
            color: #eeeeee;
        }
        img {
            width: 100%;
        }
    }
    div.content {
        color: #fff;
        display: none;
    }
}

@keyframes posterAnimation {
    0% {
        opacity: 1;
    }
    25% {
        opacity: .9;
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: .7;
    }
}