li.movie-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

li.movie-info div.poster {
  width: 175px;
}

li.movie-info div.poster p {
  text-align: center;
  margin-bottom: 5px;
  color: #eeeeee;
}

li.movie-info div.poster img {
  width: 100%;
}

li.movie-info div.content {
  color: #fff;
  display: none;
}

@-webkit-keyframes posterAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .9;
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: .7;
  }
}

@keyframes posterAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .9;
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: .7;
  }
}
