@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active-nav {
    border-bottom: 1px solid #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
}