ul.movie-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}
