div.entry-page-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/images/netflix-login-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.entry-page-bg-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000086;
}

div.entry-page-fg {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

div.entry-page-fg div.entry-forms {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.entry-page-fg div.entry-forms form {
  border-radius: 5px;
  width: 450px;
  height: 650px;
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.623);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper {
  width: 70%;
  margin-top: 60px;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper h1 {
  color: #fff;
  margin-bottom: 30px;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.username,
div.entry-page-fg div.entry-forms form div.fields-wrapper div.email,
div.entry-page-fg div.entry-forms form div.fields-wrapper div.password {
  border-radius: 5px;
  width: 100%;
  height: 55px;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.username input,
div.entry-page-fg div.entry-forms form div.fields-wrapper div.email input,
div.entry-page-fg div.entry-forms form div.fields-wrapper div.password input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  padding-left: 20px;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.username:not(:first-child),
div.entry-page-fg div.entry-forms form div.fields-wrapper div.email:not(:first-child),
div.entry-page-fg div.entry-forms form div.fields-wrapper div.password:not(:first-child) {
  margin-top: 15px;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.username,
div.entry-page-fg div.entry-forms form div.fields-wrapper div.email,
div.entry-page-fg div.entry-forms form div.fields-wrapper div.password {
  border-bottom: 2px solid red;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.submit-btn {
  margin-top: 40px;
  border-radius: 5px;
  height: 55px;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.submit-btn button {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.remember-help {
  margin-top: 15px;
  color: #fff;
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.remember-help div.remember label {
  position: relative;
  left: 5px;
  bottom: 1px;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.remember-help div.help {
  color: #7a7a7a;
  cursor: pointer;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.signup-instead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.signup-instead div.new-to-netflix {
  color: #7a7a7a;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.signup-instead div.signup {
  color: #fff;
  margin-left: 5px;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.signup-instead div.signup:hover {
  text-decoration: underline;
  cursor: pointer;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.captcha {
  color: #7a7a7a;
  margin-top: 20px;
  font-size: .8rem;
}

div.entry-page-fg div.entry-forms form div.fields-wrapper div.captcha span.learn-more {
  color: #0049e7;
}
